<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zfdang.touchhelper">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_touch_helper_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_touch_helper_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TouchHelperService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:label="@string/touch_helper_service_label">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".TouchHelperServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
<!--        <receiver-->
<!--            android:name=".MyDeviceAdminReceiver"-->
<!--            android:description="@string/app_name"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_DEVICE_ADMIN">-->
<!--            <meta-data-->
<!--                android:name="android.app.device_admin"-->
<!--                android:resource="@xml/dcm_configure" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>


</manifest>